/* 通用样式  satrt */

body {
    background-color: #ffec3d;
}

.icon {
    width: 5em;
    height: 5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

p,
span,
button,
input {
    font-size: 18px;
}


/* 通用样式  end */

.main {
    width: 600px;
    width: 360px;
    min-width: 350px;
    margin: 50px auto;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3 {
    margin: 20px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    /* background-color: antiquewhite; */
}

.competition {
    margin: 30px 0;
    display: flex;
    width: 400px;
    min-width: 350px;
    /* background-color: azure; */
    justify-content: space-between;
}

.robot,
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.robot p,
.robot span,
.user p,
.user span {
    margin-top: 20px;
}

.icon-logo {
    width: 1em;
    height: 1em;
    line-height: 1rem;
}

.result {
    height: 60px;
    line-height: 60px;
    /* background-color: red; */
}

#result-sapn {
    /* display: none; */
}

.button input[type="button"] {
    height: 35px;
    padding: 5px;
    color: #fff;
    background-color: #222;
    font-weight: 500;
}


/* 游戏结束后的提示 */

.end {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.end p {
    font-size: 24px;
    font-weight: bold;
}

.end input[type="reset"] {
    height: 35px;
    width: 150px;
    padding: 5px;
    color: #fff;
    background-color: #222;
    font-weight: 500;
}


/* 选择表单的 */

.from {
    position: fixed;
    /* display: none; */
    top: 40%;
    left: 50%;
    /* 将div的左上角移动到页面中央 */
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 400px;
    min-width: 300px;
    /* height: 100px; */
    display: flex;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.select {
    margin: 20px 0;
}

.select select {
    width: 50px;
    height: 25px;
    border-radius: 5px;
}

.submit {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.submit input[type="submit"] {
    width: 51px;
    height: 35px;
    border-radius: 5px;
    background-color: #1e90ff;
    color: #fff;
    border: 0;
}


/* 覆盖整体变灰 */

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}


/* 隐藏 */

.none {
    display: none;
}


/* 单独写下  移动的端适配 */

@media ( max-width: 414px) {
    .competition {
        width: 300px;
    }
    .from {
        top: 50%;
        width: 350px;
    }
}