/* 设置通用样式  start */

body {
    background-color: #f5f5f5;
    /* min-width: 1200px; */
    min-width: 1083px;
    /* 最小宽度  设置成  1083px 移动端不会溢出 */
}

a {
    text-decoration: none;
    color: #000;
}


/* 版心 */

.center {
    width: 75%;
    margin: 0 auto;
}


/* 设置通用样式  end */


/* top-nav start */

.header {
    background-color: #fff;
}

.header-inner {
    width: 40%;
    min-width: 1000px;
    height: 140px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-inner-img {
    height: 44px;
}

.header-inner-img img {
    height: 100%;
}

.search {
    margin-left: 20px;
    display: flex;
}

.search input[type=text] {
    min-width: 395px;
    height: 28px;
    color: #ccc;
    font-size: 20px;
    line-height: 28px;
    background: 0 0;
    padding: 6px 36px 4px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #b8b8b8 #ccc #ccc #b8b8b8;
    border-right: 0;
    flex: 1;
}

.search input[type=button] {
    width: 104px;
    font-size: 16px;
    height: 40px;
    background-color: #3388ff;
    color: #fff;
    border: 0;
}


/* top-nav end */


/* top  start */

.top {
    /* background-color: aqua; */
    overflow: hidden;
    /* 溢出隐藏 清除高度塌陷 */
    background-color: #e6f4ff;
}

.top-inner h1 {
    font-size: 45px;
    font-weight: normal;
    margin-top: 25px;
}

.top-inner p {
    font-size: 20px;
    font-weight: normal;
    margin: 20px 0;
}

.top-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    /* width: 100%; */
}

.iamge {
    flex-basis: 32%;
    /* width: 450px; */
    width: 0px;
    /* height: 330px; */
    border-radius: 15px;
}


/* top  end */


/* content  start */

.content {
    background-color: #fff;
    border: 1px solid #E5E5E5;
    box-shadow: 0 2px 3px -2px #d5d5d5;
}

.content-introduce {
    /* width: 75%; */
    /* margin: 0 10px; */
    display: flex;
    padding: 32px 16px;
}


/* content-introduce-tetx start */

.content-introduce-tetx {
    width: 75%;
    padding: 10px;
}

.content-data {
    display: flex;
    justify-content: end;
}

.content-data-text {
    border-right: 2px solid #eee;
}

.content-data-text:last-child {
    border-right: 0;
}

.content-data-text span {
    font-size: 18px;
    color: #519cea;
    font-weight: 500;
    margin-left: 10px;
}

.content-data-text p {
    font-size: 18px;
    color: #888;
    display: inline;
    margin-right: 10px;
}


/* content-introduce-tetx end */

.content-tetx {
    margin-top: 30px;
}

.content-tetx p {
    font-size: 22px;
    text-indent: 2rem;
    line-height: 36px;
}


/* 这个地方因为不会flex布局 直接改成用表格了 */


/* 这个地方 用flex 布局 重新写了 */


/* 
.content-table {}
.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    background-color: #519cea;
}

.row-item {
    width: 50%;
}

.row-item span {
    width: 100%;
    background-color: #eee;
    display: inline-block;
} */


/* content-table start */


/* 这个地方重新写下 */


/* .content-table {
    margin-top: 50px;
    width: 670px;
    height: 100px;
}

td p,
td a {
    font-size: 20px;
}

.content-table .th {
    font-weight: 600;
}

.content-table .td {
    color: #888;
} */

.content-table {
    margin-top: 24px;
}

.content-table .row {
    display: flex;
    padding: 12px 30px;
    font-size: 14px;
}

.content-table .row .col {
    flex: 1;
    display: flex;
}

.content-table .row .col .name {
    flex-basis: 25%;
    font-weight: bold;
    color: #333;
}

.content-table .row .col .data {
    color: #747474;
}


/* content-table end */


/* image satrt */

.content-image {
    width: 25%;
}

.content-image img {
    width: 100%;
}


/* image  */


/* content  end */


/* information  start */

.information {
    background-color: #fff;
    border: 1px solid #E5E5E5;
    box-shadow: 0 2px 3px -2px #d5d5d5;
    margin-top: 20px;
}

.information-introduce {
    padding: 32px 24px;
}

.information-introduce h2 {
    font-size: 36px;
    position: relative;
}

.information-introduce h2:before {
    content: "";
    display: block;
    background-color: #519cea;
    width: 16px;
    height: 40px;
    position: absolute;
    top: 0;
    left: -24px;
}

.information-introduce h2:after {
    content: "";
    display: block;
    width: 88%;
    border-bottom: 1px solid #888;
    position: absolute;
    top: 18px;
    left: 168px;
}


/* 基本信息的表格 start */


/* 重新写下 */


/* .information-table {
    margin-top: 40px;
    width: 100%;
    line-height: 50px;
}

.information-table tr {
    height: 50px;
    border-bottom: 1px dotted #888;
}

.information-table .th {
    color: #888;
} */

.information-table {
    margin-top: 35px;
}

.information-table .row {
    display: flex;
    height: 50px;
    border-bottom: 1px dotted #888;
    align-items: center;
}

.information-table .row .col {
    flex-basis: 50%;
    display: flex;
}

.information-table .row .col .name {
    flex-basis: 15%;
    font-weight: bold;
    color: #747474;
}

.information-table .row .col .data {
    color: #333;
}


/* 基本信息的表格 end */


/* information  end */


/* performer  start */

.performer {
    background-color: #fff;
    border: 1px solid #E5E5E5;
    box-shadow: 0 2px 3px -2px #d5d5d5;
    margin-top: 20px;
}

.performer-introduce {
    padding: 32px 24px;
}

.performer-introduce h2 {
    font-size: 36px;
    position: relative;
}

.performer-introduce h2:before {
    content: "";
    display: block;
    background-color: #519cea;
    width: 16px;
    height: 40px;
    position: absolute;
    top: 0;
    left: -24px;
}

.performer-introduce h2:after {
    content: "";
    display: block;
    width: 88%;
    border-bottom: 1px solid #888;
    position: absolute;
    top: 18px;
    left: 168px;
}

.performer-introduce ul {
    margin-top: 20px;
}

.performer-introduce ul li {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #888;
}

.performer-introduce ul li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.performer-introduce ul li img {
    width: 180px;
}

.performer-tetx {
    margin-left: 20px;
}

.performer-tetx h3 {
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    color: #519cea;
}

.performer-tetx span {
    font-size: 18px;
    /* height: 24px; */
    line-height: 40px;
}


/* 这个地方注意一下 first-child 是不能选中的*/

.performer-tetx span:first-of-type {
    color: #888;
}

.performer-tetx p {
    font-size: 18px;
    /* height: 24px; */
    line-height: 28px;
}


/* performer  end */